# archivos de sistema operativo
.DS_Store
Thumbs.db
.env

# archivos de R y Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.positai

# entornos virtuales
renv/
!renv/activate.R
!renv/settings.json

# carpetas del proyecto
data/
results/
